# API Keys Configuration
# Obtain keys from respective platforms:
# Adzuna: https://developer.adzuna.com/
# Note: Remotive and Arbeitnow don't require API keys

ADZUNA_APP_ID=your_app_id_here
ADZUNA_APP_KEY=your_app_key_here
